* {
    background-color: rgb(240, 187, 140);
}

h1 {
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
}

#dom-rep {
    background-color: blue;
    color: white;
    border-style: dashed;
    border-color: red;
    width: 35%;
}

#end-msg {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: lightgreen;
}

ul.nav {
    list-style: square;
}

a {
    font-style: oblique;
}

img.showcase {
    height: auto;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}